/* Global */

@font-face {
    font-family: "Orbitron";
    src: url("../3860-font.ttf");
  }

a {
    color: #7CE679;
    text-decoration: none;
}

section {
    width: 1200px;
    margin: auto;
}

html {
    background-color: #000;
    color: #7CE679;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    position: relative;
    font-family: "Orbitron";
    width: 1440px;
    border: #7CE679 5px solid;
    margin-top: 70px;
    padding-top: 120px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Header */

header {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    top: -70px;
}

.logo {
    font-size: 64px;
    font-weight: bold;
    background-color: #000;
}

.nav-menu {
    font-size: 32px;
    gap: 48px;
}

.nav-li {
    background-color: #000;
    padding: 0 10px;
    line-height: 1.5;
}

.nav-menu button {
    color: #7CE679;
    background-color: #000;
    border: #7CE679 5px solid;
}

.burger-menu {
    display: none;
    font-size: 36px;
    background: none;
    border: none;
    cursor: pointer;
    color: #7CE679;
}

/* Main */

.left-main {
    max-width: 650px;
}

.left-main p {
    font-size: 32px;
}

.main-title {
    font-size: 128px;
    margin: 0;
}

.right-main-img {
    width: 541px;
    height: 514px;
    margin-left: 13px;
    box-shadow: 0px 0px 135px 70px rgba(0,0,0,1) inset;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    flex-direction: row;
}

.main-page-section {
    display: flex;
    flex-direction: row;
}

/* Info */

.info {
    margin-top: 125px;
}

.info-info {
    display: flex;
    flex-direction: row;
}

.info-left {
    border: #7CE679 5px solid;
    display: flex;
    flex-direction: column;
}


.course-info {
    display: flex;
    flex-direction: column;
    gap: 160px;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
    padding: 10px;
}

.course-info-li {
    font-size: 36px;
    text-align: center;
}

.info-right {
    width: 765px;
    margin-left: 76px;
}

.syllabus {
    background-color: #7CE679;
    width: 100%;
    color: #000;
    font-size: 48px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin: 0;
    text-indent: 20px;
}

.course-list {
    margin: 0;
    padding: 0;
}

.course-li {
    border: #7CE679 5px solid;
    padding: 10px;
    font-size: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

h1 {
    font-size: 68px;
}

.course-info-li span {
    font-weight: bold;
}

/* reviews */

.review {
    border: #7CE679 5px solid;
    border-top: #7CE679 35px solid;
    width: 481px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.reviews-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

.reviews-title {
    width: min-content;
    margin: 34px 0
}

.review-descr {
    font-size: 24px;
}

.review-title {
    font-size: 36px;
    font-weight: bold;
}

.review-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.review-img {
    width: fit-content;
    height: fit-content;
}

/* FAQ */

.faq {
    margin-bottom: 30px;
}

.answer {
    display: none;
    height: 0;
    font-size: 26px;
    color: #62ac5f;
    line-height: none;
    margin-top: 0;
}

.question {
    font-size: 36px;
}

.question-container {
    border-bottom: #7CE679 5px solid;
}

.faq-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.faq-top img {
    height: 30px;
    width: 40px;
}

.visible > .faq-bottom > .answer {
    display: flex;
    height: fit-content;
}

/* footer */

footer {
    background-color: #7CE679;
    color: #000;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-sup {
    background-color: #000;
    padding: 12px 5px;
    color: #7CE679;
    border: none;
}

.footer-logo {
    font-size: 64px;
}

/* Go To Course */

.gotocourse {
    margin-bottom: 67px;
}

.go-course-btn {
    background-color: #7CE679;
    font-size: 32px;
    font-weight: bold;
    color: #000;
    padding: 26px 35px;
    border: none;
}

/* Modal menu */

.modal-blur > :not(.modal-menu) {
    filter: blur(5px);
}

.modal-blur {
    border: 5px solid #7de67965;
}

.modal-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: #7CE679 5px solid;
    text-align: center;
    z-index: 10;
    position: absolute;
    background-color: black;
    left: 7.5%;
}

.no-scroll {
    overflow-y: hidden;
}

.modal-invis {
    display: none;
}

.modal-form {
    height: 550px;
    background-color: #7CE679;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: 390px;
}

.modal-form input {
    background-color: #000;
    color: #7CE679;
    font-size: 32px;
    width: 320px;
    border: none;
}

.modal-form input::placeholder {
    color: #7CE679;
}

.reg-title {
    color: black;
    font-size: 48px;
    margin-bottom: 48px;
    padding: 0;
    line-height: 0;
}

.reg-btn {
    color: #7CE679;
    background-color: #000;
    font-size: 32px;
    padding: 4px 8px;
    width: fit-content;
    border: none;
}

.login-link {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

/* Course */

.course {
    font-size: 52px;
    padding: 40px 16px;
    width: 100%;
    border: #7CE679 5px solid;
}

.question, .answer {
    padding-left: 10px;
}

.show-more {
    display: none;
}

.courses-content {
    margin-top: 60px;
    font-size: 20px;
}

.courses-content p, .courses-content li {
    font-size: 20px;
    color: #7de679d0;
}

table tr td {
    border-color: #7CE679;
}

.courses-content h3 {
    font-size: 24px;
}

.courses-content h2 {
    font-size: 28px;
}

.krest {
    position: absolute;
    top: -30px;
    left: 10px;
    font-size: 40px;
    font-weight: bold;
}

.courses-content {
    margin-bottom: 60px;
}

pre {
    background-color: #202020;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: "Courier New", monospace;
    font-size: 14px;
    width: fit-content;
}

code {
    background-color: #202020;
    padding: 2px 5px;
    border-radius: 3px;
    font-family: "Courier New", monospace;
    font-size: 14px;
}

@media screen and (max-width: 1440px) {
    body {
        max-width: 1440px;
        width: 1430px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        max-width: 1024px;
        width: 1014px;
    }

    section {
        width: auto;
    }

    .right-main-img {
        display: none;
    }

    .nav-menu {
        gap: 18px;
    }

    .main-page-section {
        align-items: center;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    .reviews-title {
        width: auto;
    }

    .gotocourse {
        display: flex;
        justify-content: center;
    }

    .reviews-container {
        gap: 50px;
    }

    .review {
        width: 401px;
    }

    .modal-menu {
        left: 5px;
    }

    .course {
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {


    body {
        max-width: 768px;
        align-items: center;
        border-right: none;
        border-left: none;
    }

    section {
        align-items: center;
    }

    .main-page-section {
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    section {
        width: auto;
    }

    .gotocourse {
        display: flex;
        justify-content: center;
    }

    h1 {
        text-align: center;
    }

    .nav-menu {
        display: none;
    }

    .right-main-img {
        display: none;
    }

    .left-main {
        text-align: center;
    }

    .reviews-title {
        text-align: center;
        width: 100%;
    }

    .review {
        width: 320px;
    }

    .reviews-container {
        gap: 20px;
    }

    .gotocourse {
        justify-content: center;
    }

    .nav-menu {

        position: absolute;
        top: 80px;
        border: #7CE679 5px solid;
        display: none;
        flex-direction: column;
        background: #000;
        width: 90%;
        padding: 10px;
        text-align: center;
    }
    
    .nav-menu.active {
        display: flex;
    }
    
    .burger-menu {
        display: block;
    }

    .modal-img {
        display: none;
    }

    .modal-menu {
        left: 25%;
        flex-direction: column;
    }

    .krest {
        position: static;
        order: 1;
    }
}

@media screen and (max-width: 425px) {

    header {
        top: -50px;
        flex-direction: column;
    }

    .nav-menu {
        top: 80px;
    }

    .left-main {
        text-align: center;
    }

    body {
        width: auto;
        max-width: 425px;
        border-right: none;
        border-left: none;
    }

    section {
        width: auto;
    }

    .main-title {
        font-size: 72px;
        font-weight: bold;
    }

    .main-descr {
        font-size: 28px;
    }

    .left-main p {
        font-size: 28px;
    }

    h1 {
        font-size: 56px;
        text-align: center;
    }

    .reviews-title {
        width: 100%;
    }

    .info-info {
        flex-direction: column;
    }

    .info-right {
        margin-left: 0;
        margin-top: 40px;
    }

    .info-right {
        width: fit-content;
    }

    .syllabus {
        text-align: center;
    }

    .course-info {
        gap: 80px;
    }

    .reviews-container {
        gap: 50px;
    }

    .gotocourse {
        display: flex;
        justify-content: center;
    }

    .course {
        width: 90%;
        text-align: center;
        font-size: 42px;
    }

    .hidden {
        display: none;
    }

    .show-more {
        display: block;
        margin: auto;
        margin-top: 20px;
        font-size: 24px;
        color: #7CE679;
        background-color: #000;
        border: #7CE679 5px solid;
        padding: 10px;
    }
    
    .modal-menu {
        left: 0px;
    }

    .modal-form {
        width: max-content;
    }
}

@media screen and (max-width:375px) {
    body {
        max-width: 375px;
    }

    .soc-title {
        text-align: center;
    }

    footer {
        width: 100%;
    }

    .course {
        width: 88%;
        font-size: 38px;
    }

    .course-list {
        align-items: center;
    }

    .question {
        font-size: 30px;
    }

    h1 {
        font-size: 50px;
    }

    body {
        max-width: 375px;
    }

    .soc-title {
        text-align: center;
    }

    footer {
        width: 100%;
    }

    .course {
        width: 88%;
        font-size: 38px;
    }

    .course-list {
        align-items: center;
    }

    .reg-title {
        font-size: 36px;
    }
}

@media screen and (max-width: 320px) {
    .logo {
        font-size: 58px;
    }

    .modal-menu {
        left: 10px;
    }

    .modal-form input {
        width: 240px;
    }

    .modal-form input::placeholder {
        font-size: 24px;
    }

    .reg-title {
        font-size: 32px;
    }

    .reg-btn {
        font-size: 24px;
    }

    .main-title {
        font-size: 58px;
    }

    .left-main p {
        font-size: 18px;
    }

    .footer-logo {
        font-size: 58px;
    }

    .course {
        width: 85%;
        font-size: 28px;
    }

    body {
        max-width: 320px;
    }

    .question {
        font-size: 24px;
    }

    .answer {
        font-size: 20px;
    }

    h1 {
        font-size: 42px;
    }
}